<div class="page-header"><h1>Add Details</h1></div>

<%= form_for @chit do |f| %>
  <%= render 'shared/errors', object: @chit %>
  <div class="form-group">
    <%= f.label :Date%>
    <%= f.date_field :date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Amount_recieved %>
    <%= f.text_field :amount_recieved, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :Person_called %>
    <%= f.collection_select :person_called, Member.order(:name),:name, :name, include_blank: true %>
  </div>

  <div class="form-group">
    <%= f.label :Bar%>
    <%= f.text_field :bar, class: 'form-control' %>
  </div>

  <%= f.submit 'ADD', class: 'btn btn-primary btn-lg' %>
<% end %>